# KDE Config File
[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=kmouth -caption "%c" %i %m
Icon=kmouth
DocPath=kmouth/index.html
Comment=
Comment[x-test]=xxxx
Terminal=false
Name=KMouth
Name[x-test]=xxKMouthxx
GenericName=Speech Synthesizer Frontend
GenericName[x-test]=xxSpeech Synthesizer Frontendxx
Categories=Qt;KDE;Utility;Accessibility;
