# KDE Config File  
[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=kmouth -caption "%c" %i %m  
Icon=kmouth.png
DocPath=kmouth/index.html
Comment=
Comment[xx]=xxxx
Terminal=0
Name=KMouth
Name[cy]=KCeg
Name[pt_BR]=KBoca
Name[sv]=Kmouth
Name[xx]=xxKMouthxx
GenericName=Speech Synthesizer Frontend
Categories=Qt;KDE;Utility;X-KDE-More
