# KDE Config File
[Desktop Entry]
Type=Application
Exec=kmouth -caption "%c" %i
Icon=kmouth
X-DocPath=kmouth/index.html
Comment=
Terminal=false
Name=KMouth
Name[ar]=فم كي
Name[cy]=KCeg
Name[eo]=KBuŝo
Name[es]=KMouth 
Name[hi]=के-माउथ
Name[is]=KMunnur
Name[km]= KMouth
Name[ml]=കെമൌത്ത്
Name[ne]=केडीई माउथ
Name[pa]=ਕੇ-ਮੂੰਹ
Name[ro]=Vorbitor
Name[sv]=Kmouth
Name[ta]=K வாய்
Name[tg]=KДаҳон
Name[vi]=Mồm K
Name[x-test]=xxKMouthxx
Name[zh_CN]=K 语音精灵
GenericName=Speech Synthesizer Frontend
GenericName[ar]=واجهة تحليل النطق
GenericName[bg]=Синтезатор на глас
GenericName[ca]=Interfície per al sintetitzador de veu
GenericName[cs]=Rozhraní hlasového syntetizátoru
GenericName[cy]=Blaen-wyneb Syntheseisydd Lleferydd
GenericName[da]=Forende til tale-synthesizer
GenericName[de]=Oberfläche für Sprachsynthesizer
GenericName[el]=Συνθέτης ομιλίας
GenericName[en_GB]=Speech Synthesiser Frontend
GenericName[eo]=Fasado Por Parolsintezilo
GenericName[es]=Interfaz de usuario para síntesis de voz
GenericName[et]=Kõnesüntesaator
GenericName[eu]=Hizkera-sintetizadorearen interfazea
GenericName[fa]=پایانۀ ترکیب‌دهندۀ گفتار
GenericName[fi]=Puhesyntetisaattorin käyttöliittymä
GenericName[fr]=Interface graphique de synthèse vocale
GenericName[ga]=Comhéadan Sintéiseora Cainte
GenericName[gl]=Interface para o sintetizador de voz
GenericName[hi]=स्पीच सिंथेसाइज़र फ्रण्टएंड
GenericName[hu]=Beszédszintetizátor
GenericName[is]=Viðmót á talgerfilinn
GenericName[it]=Interfaccia grafica per il sintetizzatore vocale
GenericName[ja]=スピーチシンセサイザーのフロントエンド
GenericName[km]= ផ្នែក​ខាង​មុខ​កម្មវិធី​សង្គ្រោះ​ការ​និយាយ
GenericName[ko]=음성 합성기 프론트엔드
GenericName[lt]=Kalbos sintezatoriaus naudotojo sąsaja
GenericName[lv]=Skaņas sintizatora priekšpuse
GenericName[mk]=Преден крај на синтисајзерот за говор
GenericName[ml]=സംസാരസംയോജനത്തിനുള പ്രത്യ‌ക്ഷഉപാധി
GenericName[ms]=Antaramuka Pensintesis Pertuturan
GenericName[nb]=Brukerflate for talesystem
GenericName[nds]=Böversiet för de Blicksnuut
GenericName[ne]=संवाद सिन्थेसाइजर फ्रन्टइन्ड
GenericName[nl]=Spraaksynthesizer
GenericName[nn]=Grensesnitt for talesyntese
GenericName[pa]=ਬੋਲੀ ਸੰਸਲੇਸ਼ਣ ਫਰੰਟ-ਐਂਡ
GenericName[pl]=Program obsługujący syntezator mowy
GenericName[pt]=Interface do Sintetizador de Fala
GenericName[pt_BR]=Interface do Sintetizador de Fala
GenericName[ro]=Interfaţă pentru sinteză vocală
GenericName[ru]=Интерфейс к синтезаторам речи
GenericName[sk]=Rozhranie pre syntezátor reči
GenericName[sl]=Vmesnik za sintezo govora
GenericName[sv]=Gränssnitt för talsyntes
GenericName[tg]=Сухани Синтезатори Пешбуда
GenericName[tr]=Konuşma Sentezleyici Arayüzü
GenericName[uk]=Графічний інтерфейс синтезатора мовлення
GenericName[vi]=Giao diện Tổng hợp Giọng nói
GenericName[x-test]=xxSpeech Synthesizer Frontendxx
GenericName[zh_CN]=语音合成器前端
GenericName[zh_TW]=語音合成器前端
Categories=Qt;KDE;Utility;Accessibility;
