# KDE Config File
[Desktop Entry]
Type=Application
Exec=kmouth
Icon=kmouth
X-DocPath=kmouth/index.html
Name=KMouth
Name[ar]=ناطق
Name[ast]=KMouth
Name[be]=KMouth
Name[bg]=KMouth
Name[br]=KMouth
Name[bs]=KMouth
Name[ca]=KMouth
Name[ca@valencia]=KMouth
Name[cs]=KMouth
Name[cy]=KCeg
Name[da]=KMouth
Name[de]=KMouth
Name[el]=KMouth
Name[en_GB]=KMouth
Name[eo]=KMouth
Name[es]=KMouth 
Name[et]=KMouth
Name[eu]=KMouth
Name[fi]=KMouth
Name[fr]=KMouth
Name[ga]=KMouth
Name[gl]=KMouth
Name[he]=KMouth
Name[hi]=के-माउथ
Name[hne]=के-माउथ
Name[hr]=KMouth
Name[hu]=KMouth
Name[ia]=KMouth
Name[is]=KMunnur
Name[it]=KMouth
Name[ja]=KMouth
Name[ka]=KMouth
Name[kk]=KMouth
Name[km]= KMouth
Name[ko]=KMouth
Name[ku]=KMouth
Name[lt]=KMouth
Name[lv]=KMouth
Name[mk]=KMouth
Name[ml]=കെമൌത്ത്
Name[mr]=के-माउथ
Name[ms]=KMouth
Name[nb]=KMouth
Name[nds]=KMouth
Name[ne]=केडीई माउथ
Name[nl]=KMouth
Name[nn]=KMouth
Name[oc]=KMouth
Name[pa]=ਕੇ-ਮੂੰਹ
Name[pl]=KMouth
Name[pt]=KMouth
Name[pt_BR]=KMouth
Name[ro]=Vorbitor
Name[ru]=KMouth
Name[sa]=केमुखम्
Name[sk]=KMouth
Name[sl]=KMouth
Name[sq]=KMouth
Name[sr]=К‑уста
Name[sr@ijekavian]=К‑уста
Name[sr@ijekavianlatin]=K‑usta
Name[sr@latin]=K‑usta
Name[sv]=Kmouth
Name[ta]=K வாய்
Name[tg]=KДаҳон
Name[tr]=K Ağız
Name[ug]=KMouth
Name[uk]=KMouth
Name[vi]=Mồm K
Name[zh_CN]=K 语音精灵
Name[zh_TW]=KMouth
GenericName=Speech Synthesizer Frontend
GenericName[ar]=واجهة برنامج تركيب الكلام
GenericName[bg]=Синтезатор на глас
GenericName[bs]=Prikaz sintetizatora govora
GenericName[ca]=Frontal del sintetitzador de veu
GenericName[ca@valencia]=Frontal del sintetitzador de veu
GenericName[cs]=Rozhraní hlasového syntezátoru
GenericName[cy]=Blaen-wyneb Syntheseisydd Lleferydd
GenericName[da]=Forende til tale-synthesizer
GenericName[de]=Oberfläche für Sprachsynthesizer
GenericName[el]=Περιβάλλον σύνθεσης ομιλίας
GenericName[en_GB]=Speech Synthesiser Frontend
GenericName[eo]=Fasado Por Parolsintezilo
GenericName[es]=Interfaz de usuario para síntesis de voz
GenericName[et]=Kõnesüntesaator
GenericName[eu]=Hizkera-sintetizatzailearen interfazea
GenericName[fa]=پایانه ترکیب‌دهنده گفتار
GenericName[fi]=Puhesyntetisaattorin käyttöliittymä
GenericName[fr]=Interface graphique de synthèse vocale
GenericName[ga]=Comhéadan Sintéiseora Cainte
GenericName[gl]=Interface para o sintetizador de voz
GenericName[he]=ממשק גיבוש דיבור
GenericName[hi]=स्पीच सिंथेसाइज़र फ्रण्टएंड
GenericName[hne]=स्पीच सिंथेसाइजर फ्रन्टवड
GenericName[hr]=Pristupni dio sintetizatora govora
GenericName[hu]=Beszédszintetizátor előtétprogram
GenericName[ia]=Fronte anterior de synthetisator de parola
GenericName[is]=Viðmót á talgerfilinn
GenericName[it]=Interfaccia grafica per il sintetizzatore vocale
GenericName[ja]=スピーチシンセサイザーのフロントエンド
GenericName[ka]=საუბრის სინთეზატორის წინაბოლო
GenericName[kk]=Дауыс синтезаторының интерфейсі
GenericName[km]= ផ្នែក​ខាង​មុខ​កម្មវិធី​សង្គ្រោះ​ការ​និយាយ
GenericName[ko]=음성 합성기 프론트엔드
GenericName[ku]=Pêşrûyê Yekkirina Axaftinê
GenericName[lt]=Kalbos sintezatoriaus naudotojo sąsaja
GenericName[lv]=Skaņas sintezatora priekšsistēma
GenericName[mk]=Преден крај на синтисајзерот за говор
GenericName[ml]=സംസാരസംയോജനത്തിനുള പ്രത്യ‌ക്ഷഉപാധി
GenericName[mr]=स्पीच सिंथेसाइज़र फ्रंटएन्ड
GenericName[ms]=Antaramuka Pensintesis Pertuturan
GenericName[nb]=Brukerflate for talesystem
GenericName[nds]=Böversiet för de Blicksnuut
GenericName[ne]=संवाद सिन्थेसाइजर फ्रन्टइन्ड
GenericName[nl]=Spraaksynthesizer
GenericName[nn]=Grensesnitt for talesyntese
GenericName[pa]=ਬੋਲੀ ਸੰਸਲੇਸ਼ਣ ਫਰੰਟ-ਐਂਡ
GenericName[pl]=Obsługa syntezatora mowy
GenericName[pt]=Interface do Sintetizador de Fala
GenericName[pt_BR]=Interface do sintetizador de voz
GenericName[ro]=Interfață pentru sinteză vocală
GenericName[ru]=Интерфейс к синтезаторам речи
GenericName[sa]=वाक् संश्लेषक Frontend
GenericName[sk]=Rozhranie pre syntezátor reči
GenericName[sl]=Začelje za sintezo govora
GenericName[sq]=Sintetizues Ballor i Fjalimit
GenericName[sr]=Прочеље за синтетизаторе говора
GenericName[sr@ijekavian]=Прочеље за синтетизаторе говора
GenericName[sr@ijekavianlatin]=Pročelje za sintetizatore govora
GenericName[sr@latin]=Pročelje za sintetizatore govora
GenericName[sv]=Gränssnitt för talsyntes
GenericName[ta]=Speech Synthesizer Frontend
GenericName[tg]=Сухани Синтезатори Пешбуда
GenericName[tr]=Konuşma Sentezleyicisi Arayüzü
GenericName[ug]=ئاۋاز بىرىكتۈرگۈچ ئالدى ئۇچى
GenericName[uk]=Графічний інтерфейс синтезатора мовлення
GenericName[vi]=Giao diện Tổng hợp Giọng nói
GenericName[zh_CN]=语音合成器前端
GenericName[zh_TW]=語音合成器前端
Categories=Qt;KDE;Utility;Accessibility;
