# KDE Config File
[Desktop Entry]
Name=Catalan
Name[ar]=كتالاني
Name[ast]=Catalán
Name[bg]=Каталонски
Name[ca]=Català
Name[ca@valencia]=Català
Name[cs]=Katalánský
Name[da]=Catalansk
Name[de]=Katalanisch
Name[el]=Καταλανικά
Name[en_GB]=Catalan
Name[eo]=Kataluna
Name[es]=Catalán
Name[et]=Katalaani
Name[eu]=Katalana
Name[fi]=Katalaani
Name[fr]=Catalan
Name[gl]=Catalán
Name[he]=קטלאנית
Name[hu]=Katalán
Name[ia]=Catalan 
Name[it]=Catalano
Name[ka]=კატალანური
Name[ko]=카탈루냐어
Name[lv]=Katalāņu
Name[nl]=Catalaans
Name[nn]=Katalansk
Name[pl]=Kataloński
Name[pt]=Catalão
Name[pt_BR]=Catalão
Name[ru]=Каталонский
Name[sa]=कातालान भाषा
Name[sk]=Katalánsky
Name[sl]=Katalonščina
Name[sv]=Katalanska
Name[tr]=Katalanca
Name[uk]=Каталанська
Name[zh_CN]=加泰罗尼亚语
Name[zh_TW]=加泰隆尼亞語
