# KDE Config File
[Desktop Entry]
Name=Catalan
Name[ca]=Català
Name[ca@valencia]=Català
Name[cs]=Katalánský
Name[de]=Katalanisch
Name[es]=Catalán
Name[et]=Katalaani
Name[eu]=Katalana
Name[fr]=Catalan
Name[gl]=Catalán
Name[it]=Catalano
Name[ko]=카탈루냐어
Name[nl]=Catalaans
Name[nn]=Katalansk
Name[pt]=Catalão
Name[pt_BR]=Catalão
Name[ru]=Каталонский
Name[sk]=Katalánsky
Name[sv]=Katalanska
Name[uk]=Каталанська
Name[x-test]=xxCatalanxx
Name[zh_CN]=加泰罗尼亚语
Name[zh_TW]=加泰隆尼亞語
