# KDE Config File
[Desktop Entry]
Name=Catalan
Name[ast]=Catalán
Name[ca]=Català
Name[ca@valencia]=Català
Name[cs]=Katalánský
Name[da]=Catalansk
Name[de]=Katalanisch
Name[el]=Καταλανικά
Name[en_GB]=Catalan
Name[es]=Catalán
Name[et]=Katalaani
Name[eu]=Katalana
Name[fr]=Catalan
Name[gl]=Catalán
Name[ia]=Catalan 
Name[it]=Catalano
Name[ko]=카탈루냐어
Name[nl]=Catalaans
Name[nn]=Katalansk
Name[pl]=Kataloński
Name[pt]=Catalão
Name[pt_BR]=Catalão
Name[ru]=Каталонский
Name[sk]=Katalánsky
Name[sl]=Katalonščina
Name[sv]=Katalanska
Name[uk]=Каталанська
Name[x-test]=xxCatalanxx
Name[zh_CN]=加泰罗尼亚语
Name[zh_TW]=加泰隆尼亞語
