[Desktop Entry]
Name=German
Name[ar]=ألماني
Name[be]=Нямецкая
Name[bg]=Немски
Name[br]=Alamaneg
Name[ca]=Alemany
Name[ca@valencia]=Alemany
Name[cs]=Německy
Name[cy]=Almaeneg
Name[da]=Tysk
Name[de]=Deutsch
Name[el]=Γερμανικά
Name[en_GB]=German
Name[eo]=Germana
Name[es]=Alemán
Name[et]=Saksa
Name[eu]=Alemaniera
Name[fa]=آلمانی
Name[fi]=Saksalainen
Name[fr]=Allemand
Name[ga]=Gearmáinis
Name[gl]=Alemán
Name[he]=גרמנית
Name[hi]=जर्मन
Name[hne]=जर्मन
Name[hu]=Német
Name[is]=Þýska
Name[it]=Tedesco
Name[ja]=ドイツ語
Name[km]=អាល្លឺម៉ង់
Name[ko]=독일어
Name[ku]=Almanî
Name[lt]=Vokiečių
Name[lv]=Vācu
Name[mai]=जर्मन
Name[mk]=Германски
Name[ml]=ജര്‍മ്മന്‍
Name[ms]=Jerman
Name[nb]=Tysk
Name[nds]=Hoochdüütsch
Name[ne]=जर्मनी
Name[nl]=Duits
Name[nn]=Tysk
Name[oc]=Aleman
Name[pa]=ਜਰਮਨ
Name[pl]=Niemiecka
Name[pt]=Alemão
Name[pt_BR]=Alemão
Name[ro]=Germană
Name[ru]=Немецкий
Name[sk]=Nemecky
Name[sl]=nemško
Name[sr]=немачки
Name[sr@latin]=nemački
Name[sv]=Tyska
Name[ta]=ஜெர்மன்
Name[tg]=Немисӣ
Name[tr]=Almanca
Name[uk]=Німецька
Name[uz]=Olmoncha
Name[uz@cyrillic]=Олмонча
Name[vi]=Tiếng Đức
Name[x-test]=xxGermanxx
Name[zh_CN]=德语
Name[zh_TW]=德語
