# KDE Config File
[Desktop Entry]
Name=English
Name[ar]=إنجليزية
Name[bg]=Английски
Name[br]=Saozneg
Name[bs]=Engleski
Name[ca]=Anglès
Name[cs]=Anglicky
Name[cy]=Saesneg
Name[da]=Engelsk
Name[de]=Englisch
Name[el]=Αγγλικά
Name[eo]=Angla
Name[es]=Inglés
Name[et]=Inglise
Name[eu]=Ingelesa
Name[fa]=انگلیسی
Name[fi]=Englantilainen
Name[fr]=Anglais
Name[ga]=Béarla
Name[gl]=Inglés
Name[he]=אנגלית
Name[hi]= अंग्रेजी
Name[hu]=Angol
Name[is]=Enska
Name[it]=Inglese
Name[ja]=英語
Name[ka]=ინგლისური
Name[km]= អង់គ្លេស​
Name[lt]=Anglų
Name[mk]=Англиски
Name[ms]=Inggeris
Name[mt]=Ingliż
Name[nb]=Engelsk
Name[nds]=Engelsch
Name[ne]=अंग्रेजी
Name[nl]=Engels
Name[nn]=Engelsk
Name[pa]=ਅੰਗਰੇਜ਼ੀ
Name[pl]=Angielska
Name[pt]=Inglês
Name[pt_BR]=Inglês
Name[ro]=Engleză
Name[ru]=Английский
Name[rw]=Icyongereza
Name[sk]=angličtina
Name[sl]=angleško
Name[sr]=Енглески
Name[sr@Latn]=Engleski
Name[sv]=Engelska
Name[ta]=ஆங்கிலம்
Name[tg]=Англисӣ
Name[th]=อังกฤษ
Name[tr]=İngilizce
Name[uk]=Англійська
Name[uz]=Inglizcha
Name[uz@cyrillic]=Инглизча
Name[vi]=Anh
Name[zh_CN]=英语
Name[zh_TW]=英語
